<!--
@Author: lucky
@Date:   2017-04-14T23:00:24+08:00
@Last modified by:   lucky
@Last modified time: 2017-04-14T23:03:59+08:00
-->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if title %}
  <title>{{title}} - microblog</title>
  {% else %}
  <title>Welcome</title>
  {% endif %}
</head>
<body>
  <div>Microblog: <a href="/index">Home</a></div>
  <hr>
  <!-- add flash message support -->
  {% with messages = get_flashed_messages()%}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}
  {% endblock %}
</body>
</html>
