{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}Softteam | Dashboard{% endblock %}

{% block content-wrapper %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>Dashboard</h1>
    <ol class="breadcrumb">
      <li><a href="{% url 'admin:dashboard' %}"><i class="fa fa-dashboard"></i>Homepage</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <section class="content">
    <h1>Hello {{request.user.nick_name}}</h1>
  </section>
</div>
{% endblock %}